<%- include('../partials/fav') %> 
  </head>
  <body>
    <!-- Navigation -->
    <nav>
      <ul class="navbar">
        <li><a href="/">index-page</a></li>
        <li><a href="/homes">Home list </a></li>
        <li><a href="/favoritehome">favorite</a></li>
        <li><a href="/booking-list">Booking List</a></li>
<% if(userRole === 'Host'){ %>
        <li><a href="/host/hosthome">host home </a></li>
        <li><a href="/host/add-home">Add Home</a></li>
        <%}%>
          <li><a href="/logout">logout</a></li>
      </ul>
    </nav>
  <h1> the favorite item are present here </h1>
    <!-- Main Heading -->
   <main class="card-container">
    <% if (Array.isArray(favoriteHomes)) { %>
    <%favoriteHomes.forEach((home) => { %>
      <div class="card">
        <img
          src="/uploads/<%= home.houseImages %>"
          alt="Image of <%= home.houseName %>"
        />

        <div class="card-content">
          <h2><%= home.houseName %></h2>
          <p><strong>Location:</strong> <%= home.location %></p>
          <p><strong>Price/Day:</strong> ₹<%= home.pricePerDay %></p>
          <p><strong>Nights:</strong> <%= home.numberOfNights %></p>
          <p><strong>Rooms:</strong> <%= home.numberOfRooms %></p>
          <p><strong>Facilities:</strong> <%= home.facilities %></p>
          <p><strong>Rating:</strong>

</p>

  <form action="/remove-from-favorite" method="POST" style="display:inline;">
  <input type="hidden" name="id" value="<%= home._id %>">
  <button class="remove-fav-btn" type="submit">💔 Remove from Favorite</button>
</form>
<br>    
      </div>
      </div>
     
    <% }) %>
    <% } else {%> 
      <P> no favorites found </P> 
      <% } %> 
     </main>
  </body>
</html>
