<%- include('../partials/homelist') %> 
</head>
<body>

 <!-- Top Navbar -->
    <nav>
      <ul class="navbar">
        <li><a href="/">index-page</a></li>
        <li><a href="/homes">Home list </a></li>
        <li><a href="/favoritehome">favorite</a></li>
        <li><a href="/booking-list">Booking List</a></li>
        <li><a href="/host/hosthome">host home </a></li>
        <li><a href="/host/add-home">Add Home</a></li>
      </ul>
    </nav>
  <main class="card-container">
    <% registeredHomes.forEach((home) => { %>
      <div class="card">
        <img
          src="/uploads/<%= home.houseImages %>"
          alt="Image of <%= home.houseName %>"
        />

        <div class="card-content">
          <h2><%= home.houseName %></h2>
          <p><strong>Location:</strong> <%= home.location %></p>
          <p><strong>Price/Day:</strong> ₹<%= home.pricePerDay %></p>
          <p><strong>Nights:</strong> <%= home.numberOfNights %></p>
          <p><strong>Rooms:</strong> <%= home.numberOfRooms %></p>
          <p><strong>Facilities:</strong> <%= home.facilities %></p>
     
          <br> 
<a class="bookButton" href="/homes/<%= home._id.toString() %>">detail</a>

           <br> 
            <br> 

            <%- include('../partials/favorite', {home:home}) %>
         
        </div>
      </div>
    <% }) %>
 
  </main>
</body>
</html>

